.page_container {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;

}

.about_page {
    background: #ECECEC;
    padding-bottom: 60px;
}



.img_info_one_col {
    display: flex;
    flex-direction: column;
}

.img_info_one_col img {
    width: 327px;
    height: 410px;
    margin: 12px 0px;
}

.img_info_one_row img {
    width: 327px;
    height: 410px;
    margin: 0px 24px;
}

.about_content {
    width: 465px;
    height: 637px;
    padding: 12px 24px;
    background: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
    color: rgba(151, 151, 151, 1);
    line-height: 24px;
}

.about_content h5 {
    color: rgba(57, 57, 57, 1);
    font-size: 24px;
    line-height: 29px;
}