.basket_inner {
    padding: 11px 0px;
    display: flex;
    column-gap: 16px;

}

.baster {
    background: #ECECEC;
}

.basket_img {
    width: 112px;
    height: 142px;
}

.basket_cart {

    column-gap: 16px;
    display: flex;
    padding: 12px;
    width: 768px;
    height: 166px;
    position: relative;
    background: #FFFFFF;
}

.basker_delete {
    width: 14px;
    height: 14px;
    background: url(../../../img/delete.png) no-repeat;
    position: absolute;
    right: 17px;
    top: 17px;
}

.basket_color {
    width: 14px;
    height: 14px;
}

.basket_color-item {
    margin-top: 20px;
}

.basket-item {
    background: #fff;
    padding: 24px;
    width: 384px;
    height: 311px;
}

.total_price {
    padding-bottom: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #393939;
}

.basket_total_l {
    color: #979797;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 12px;
}

.basket_total_t {
    color: #979797;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 12px;
}