.product_list {
    display: flex;
    column-gap: 24px;
}


.product {
    padding: 10px;
    background: #ECECEC;
}

.product_info {
    width: 520px;
    height: 434px;
    left: calc(50% - 520px/2 + 324px);
    background: #FFFFFF;
    padding: 20px;
}

.product_b_img {
    width: 308px;
    height: 492px;
}

.product_list-img {
    display: flex;
    column-gap: 8px;
    margin-bottom: 8px;

}

.product_info-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #393939;
}

.articul {
    font-weight: 500;
    font-size: 14px;
    padding-top: 21px;

}

.articul span {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #393939;

}

.product__link {
    display: inline-block;
    color: #979797;
}

.product_color {
    width: 10px;
    height: 10px;
    opacity: 0.47;
    border-radius: 6px;
    list-style: none;
    display: flex;
    margin: 0px 6px;
}

.product_color_active {
    border: 1px solid black;
    display: block;
    border-radius: 0px;
    width: 12px;
    height: 12px;
}

.product_colors {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #1D1D1B;
    margin-top: 16px;
    margin-right: 6px;
}

.product-price {
    margin-top: 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #393939;
}

.product_info_i {
    margin-top: 18px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #393939;
}

.product_info_inner {
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    margin: 6px 0px 16px;
    color: #6A6A6A;
}

.product_size {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #1D1D1B;
    margin-bottom: 14px;
}

.product_sizes {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-right: 50px;
}

.button-b {
    font-family: 'Montserrat';
    width: 420px;
    padding: 12px 0px;
    background: #1D1D1B;
    text-align: center;
    margin-top: 7px;
    color: #fff;
}

.product_s_img {
    width: 150px;
    height: 240px;
}

.similar_products {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #393939;
    margin: 32px 0px 16px;
}

.similar_inner_img {
    width: 226px;
    height: 332px;
}

.similar_color {
    width: 10px;
    height: 10px;
    opacity: 0.47;
    border-radius: 6px;
    list-style: none;
    display: inline-block;

}

.similar_color+.similar_color {
    margin-left: 8px;

}

.similar_inner_blocks {
    display: flex;
    column-gap: 8px;
    flex-wrap: wrap;
}