*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
}

.container {
    max-width: 1166px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.to {
    margin: 0;
    padding: 0;
}

li:hover {
    color: inherit;
}