.collection {
    background: #ECECEC;
}

.coll_img-g {
    width: 286px;
    height: 330px;
    cursor: pointer;
    border: none;
}



.coll_img_title {
    bottom: 30px;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
}

.coll__card {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    margin-bottom: 8px;

}

.coll__link {
    font-size: 14px;
    font-weight: 500;
    padding: 14px 0px;
    background: #1D1D1B url(../../img/arrow_w.png) no-repeat;
    background-position: 75% 50%;
    width: 286px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.coll__card .coll__link:hover {
    font-size: 14px;
    font-weight: 500;
    padding: 14px 0px;
    background: #fff url(../../img/arrow_b.png) no-repeat;
    background-position: 75% 50%;
    width: 286px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1D1D1B;
}

.coll-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.collecPage {
    background: #ECECEC;

}

.title_collection {
    padding: 32px 0px 18px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #393939;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    padding-top: 8px;

}

.card_item {
    background-color: #fff;
}

.collectionCard {
    margin-bottom: 18px;
}

.pag {
    margin-top: 8px;
}