.news__content {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: #fff;
    margin: 12px 0px 0px 0px;

}

.inner__content__img {
    width: 226px;
    height: 226px;
    margin-right: 16px;
}



.news {
    max-width: 1366px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background: #ECECEC;
}

.inner_container {
    padding: 0px 99px 10px 99px;
}

.news__title {
    font-weight: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 6px;

}

.news__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.news_line {
    background: #fff;
    font-size: 14px;
    padding: 22px 99px;

}

h1.башка {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding: 9px 0px 10px 0px;
}



.inner__news__item {
    overflow: auto;
}

@media (max-width: 550px) {
    .inner_container {
        padding: 14px 12px;
    }

    .news__content {
        display: flex;
        justify-content: center;
        background-color: #fff;
        flex-direction: column;
        align-items: center;
        padding: 10px;

    }

}