.card_sims {
    width: 226px;
    margin-bottom: 8px;
    display: flex;
    position: relative;
    column-gap: 8px;
    flex-wrap: wrap;

}

.card_sims_img {
    width: 226px;
    height: 332px;
}

.card_sims:hover .card_header {

    background: url("http://kg.ronishop.ru/test/tilek/tilek_lichnye/santes/img/heard.svg") no-repeat;

}